<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.meicode.meimall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Mall"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".WebsiteActivity" />
        <activity
            android:name=".CartActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".GroceryItemActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TrackUserTime" />
    </application>

</manifest>